<app-menu></app-menu>
<h2 class="text-white" style="text-align: center;">Add Car:</h2>
<form  class="form-group text-white">         
    ID of car:<input type="number" cols placeholder="Id"  class="form-control"/>
    Model:<input type="text" placeholder="Model" class="form-control"/>
    Image URL:<input type="text" placeholder="Scr" class="form-control"/> 
    Prix: <input type="number" placeholder="Price" class="form-control"/>
    Date de fabrication:<input type="date" class="form-control"/>
    Etat: <input type="text" placeholder="Condition" class="form-control"/>
    <input type="submit"  value="Envoyer"/>	
    <input type="reset" value="annuler"/>   
</form>

   


