<nav class="navbar navbar-expand-sm bg-dark justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/acceuil']">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles']">cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ajout']" >add car</a>
          </li>

          <li class="nav-item">
                <a class="nav-link" [routerLink]="['/modif']" >modify car</a>
         </li>
        </ul>
      
      </nav>
