
<nav class=" navbar navbar-expand-sm bg-dark justify-content-center sticky-top">
    
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/acceuil']">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles']">cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ajout']" >add car</a>
          </li>

          <li class="nav-item">
                <a class="nav-link" [routerLink]="['/modif']" >modify car</a>
         </li>
         <li><a class="nav-link" [routerLink]="['/authentification']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
        <input  type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </nav>
      