<app-menu></app-menu>
<body class="text-white" >
    <h2  style="text-align: center;">our cars</h2>


    <ul class="list-group">
        <ng-container *ngFor="let c of lesArticles">
            <li class="list-group-item">
                <img [src]='c.image' width='300px' height='200px'/><br/>
                article's ID : {{c.id}}<br/>
                car's model : {{c.libelle}}<br/>
                car's price (USD) : {{c.prix}} <br/>
                <button  class="btn btn-primary" [routerLink]="['/selectedArticle',c.id]"> Infos</button> 
            </li>
        </ng-container>
        
    </ul>
</body>    

