<app-menu></app-menu>
<body class="text-white " style="text-align: center;">
    <h1  > Car's Informations</h1>
<ul class="list-group" >
    <li class="list-group-item">
        <img [src]='c.image' width='500px' height='200px'/>
    </li>

    <li class="list-group-item ">
        article's ID : {{c.id}}
    </li>

    <li class="list-group-item">
        car's model : {{c.libelle}}
    </li>

    <li class="list-group-item ">
            Horse power : {{c.hp}} (hp)
        </li>

    
    
        <li class="list-group-item">
                car's color : {{c.couleur}}
            </li>
        
            <li class="list-group-item">
                car's vitesse : {{c.vitesse}} (km/h)
            </li>
        
            <li class="list-group-item">
                <p>
                    condition :<br>
                    used :  <input type="checkbox" [disabled]="c.etat" [checked]="!c.etat"/>
                    new :  <input type="checkbox" [disabled]="!c.etat" [checked]="c.etat"/>
                </p>
            </li>
        
            <li class="list-group-item">
                    date of release : {{c.date |date}}
            </li>
    <li class="list-group-item">
        <p>
            
            car's price : 
            <button (click)="convtnd(c.prix)">TND </button> 
            <input type="text" [value]='tnd1'>
                
            <button (click)="conveur(c.prix)" >EUR </button> 
            <input type="text" [value]='eur1' >
                
            <button (click)="convusd(c.prix)">USD </button> 
            <input type="text" [value]='usd1'> 
        </p>
    </li>
        </ul>
    
    
    

<button  class="btn btn-primary" [routerLink]="['/articles']">Articles</button> 
</body>