<body>
  <div class="container" >
    <div class="row">
      <div class="col-sm-19 col-md-17 col-lg-15 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center">Sign In</h1>
            <input type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus  #userName />

            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #password (keyup)="verif(userName.value,password.value)" /><br/>

            <button *ngIf="erreur=='user'" class="btn btn-success">
              <a  [routerLink]="['/erreurauth']">connect</a>
            </button>

            <button *ngIf="erreur=='password'">
              <a  [routerLink]="['/erreurmdp']" class="btn btn-success">connect</a>
            </button>

            <button *ngIf="erreur=='correct'">
              <a   [routerLink]="['/articles']" class="btn btn-success">connect</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>